@charset "utf-8";
/* CSS Document */

html,body {
	color: #222222;
	background-color: #feeebd;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

#margintab {
	margin-left: 6px;
	position: absolute;
	z-index: 999;
	left: 0px;
	top: 0px;
	height: 30px;
}
.tabs {
	line-height: 27px;
	vertical-align: top;
	display: inline-block;
	padding: 0px;
	position: relative;
}
.framediv {
	width: 100%;
	margin-left: auto ;
    margin-right: auto ;	
	padding: 0;
	position: absolute;
	top: 30px;
	z-index: 999;
}


#anothermargintab {
	position: absolute;
	left: 0px;
	z-index: 999;
	padding-left: 0px;
	white-space: nowrap;
	
}
#maintab {
	display: block;
	list-style-position: outside;
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
	padding: 0px;
}
.maindivtab {
	display: block;
}
.banner {
	left: 0;
	width: 100%;
	height: 29px;
	/* background-color: #2D2D2D; */
	background-color: #383838;
	border-color: #000000;
	min-width: 980px;
	opacity: 1;
	position: absolute;
	z-index: 990;
	top: 0px;
}
.atag	{
	
	color: #BBBBBB !important;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-decoration: none !important;
}

.taborder	{
	border-top: 2px solid transparent;
    display: block;
}

.tabdata
{
	padding: 0 9px;
	z-index: 991;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	position: relative;
	display: inline;
}

